parameters:
	ignoreErrors:
		-
			message: '#^Class App\\Models\\User not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/testing-kit.php

		-
			message: '#^Class Brackets\\AdminAuth\\Models\\AdminUser not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/testing-kit.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable\:\:assignRole\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Factory/AdminUserFactory.php
